#footer
  .container
    .box_footer.clearfix
      .box_left
        a(href="#{path}/", class="ov_hover")
          img(src="#{path}/common_img/logo_footer.png", alt="Beppu 別府建設株式会社")
        p.mt10 〒813-0032 <br>福岡県福岡市東区土井１丁目18-12
      // end box_left
      .box_right
        h4 ご相談内容に応じてベストなご提案をいたします。<br>お気軽にお問い合わせくださいませ！
        p.mb05
          img(src="#{path}/common_img/tel_footer.png", alt="TEL 092-691-1406 FAX 092-691-1407")
        p 【お電話受付時間】9：00～18：00 【定休日】土・日・祝日
        a(href="#{path}/contact/", class="img_stick ov_hover")
          img(src="#{path}/common_img/contact_footer.png", alt="お問い合わせお見積り依頼")
      // end box_right
    // end box_footer
    p.pl20.pr20 SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入ります。SEOテキストが入
  .fnav
    .container
      ul
        li
          a(href="#{path}/") ホーム
        li
          a(href="#{path}/policy/") 別府建設のこだわり
        li
          a(href="#{path}/results/") 施工実績
        li
          a(href="#{path}/voice/") お客様の声
        li
          a(href="#{path}/company/") 会社案内
        li
          a(href="#{path}/news/") 新着情報
        li
          a(href="#{path}/contact/") お問い合わせ・お見積り依頼
  // end fnav
  .page_top_cont
    .page_top
      .to_top
        img(src="#{path}/common_img/page_top.png", alt="ページ TOPへ")
