#header
  .container
    h1 #{h1}
    .h_top.clearfix
      a(href="#{path}/", class="ov_hover logo")
        img(src="#{path}/common_img/logo.png",alt="Beppu 別府建設株式会社")
      .h_contact.clearfix
        p.pull_left.text_right.pt15
          span.fz11 【お電話受付時間】9：00～18：00 【定休日】土・日・祝日<br>
          img(src="#{path}/common_img/h_tel.png",alt="092-691-1406", class="pt05")
        a(href="#{path}/contact/",class="pull_right ov_hover")
          img(src="#{path}/common_img/h_btn.png",alt="お問い合わせ・お見積り依頼")
  #gnav
    .container
      ul.clearfix
        li
          a(href="#{path}/policy/", class="ov_hover")
            img(src="#{path}/common_img/nav01.gif", alt="別府建設のこだわり")
        li
          a(href="#{path}/results/", class="ov_hover")
            img(src="#{path}/common_img/nav02.gif", alt="施工実績")
        li
          a(href="#{path}/voice/", class="ov_hover")
            img(src="#{path}/common_img/nav03.gif", alt="お客様の声")
        li
          a(href="#{path}/company/", class="ov_hover")
            img(src="#{path}/common_img/nav04.gif", alt="会社案内")
        li
          a(href="#{path}/news/", class="ov_hover")
            img(src="#{path}/common_img/nav05.gif", alt="新着情報")
