.sidebar
  .boxes.mb25
    a(href="#{path}/about/", class="ov_hover")
      img(src="#{path}/common_img/side_btn1.gif", alt="道家事務所を初めてご利用する方へ", width="240")
  // end boxes
  .boxes.mb30
    h3.mb10
      img(src="#{path}/common_img/side_tit.png", alt="業務内容", width="240")
    a(href="#{path}/service01/", class="ov_hover mb15")
      img(src="#{path}/common_img/side_btn2.gif", alt="不動産の権利に関する登記手続き", width="240")
    a(href="#{path}/service02/", class="ov_hover mb15")
      img(src="#{path}/common_img/side_btn3.gif", alt="不動産の表示に関する登記手続き", width="240")
    a(href="#{path}/service03/", class="ov_hover mb15")
      img(src="#{path}/common_img/side_btn4.gif", alt="土地の境界確定測量", width="240")
    a(href="#{path}/service04/", class="ov_hover mb15")
      img(src="#{path}/common_img/side_btn5.gif", alt="商業・法人登記手続き", width="240")
    a(href="#{path}/service05/", class="ov_hover mb15")
      img(src="#{path}/common_img/side_btn6.gif", alt="行政書士業務", width="240")
  // end boxes
  .boxes.mb30
    a(href="#{path}/case/", class="ov_hover")
      img(src="#{path}/common_img/side_btn7.gif", alt="事例紹介", width="240")
  // end boxes
  .boxes.box_list
    h3 インフォメーション
    .box_list_inner
      ul
        li
          a(href="#{path}/information/") 事務所案内
        li
          a(href="#{path}/useful/") お役立ち情報
        li
          a(href="#{path}/flow/") ご相談の流れ
        li
          a(href="#{path}/faq/") よくある質問
  // end boxes
